/* Center the upload container */
.fileUploadContainer {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* File label text (Image / Audio) */
.file-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Make the file input */
/* input[type="file"] {
  display: block;
} */

/* Upload button */
.upload-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-align: center;
}

.upload-button:hover {
  background-color: #0056b3;
}

/* Submit button styling */
.fileUploadContainer button {
  background-color: #4dace2;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s ease-in-out;
}

.fileUploadContainer button:hover {
  background-color: #218838;
}

/* Uploaded files section */
.uploaded-files-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #eef5ff;
  border-radius: 5px;
}

.uploaded-files-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Error message styling */
.error-message {
  color: red;
  font-weight: bold;
}

/* Smartboard Title Input */
.board-title-input {
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  background: transparent;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.preview-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
